<div class="row" style="margin:50px">
    <div class="col-3 col-12-medium">
        <a class="button primary fit" asp-action="Index" asp-controller="Show">Працівники</a>
    </div>
    <div class="col-3 col-12-medium">
        <a class="button primary fit" asp-action="CityList" asp-controller="Show">Міста</a>

    </div>
    <div class="col-3 col-12-medium">
        <a class="button primary fit" asp-action="CityTypeToList" asp-controller="Show">Типи міст</a>

    </div>
    <div class="col-3 col-12-medium">
        <a class="button primary fit" asp-action="CertificateList" asp-controller="Show">Сертифікати</a>

    </div>
</div>