<section id="sidebar">
    <div class="inner">

        <nav>
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Вступ</a></li>
                <li><a asp-controller="Worker" asp-action="Index">Створити працівника</a></li>
                <li><a asp-controller="CityType" asp-action="Index">Створити тип міста</a></li>
                <li><a asp-controller="City" asp-action="Index">Створити містo</a></li>
                <li><a asp-controller="Certificate" asp-action="Index">Створити сертифікат</a></li>
                <li><a asp-controller="Show" asp-action="Index">Списки</a></li>
            </ul>
        </nav>
    </div>
</section>