@model TripProject.Models.DbModels.City



<div class="row">
    <div class="col-4-medium">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="align-center form-group" style="margin-top:20px;margin-bottom:75px;">
                <label asp-for="Name">Назва</label>
                <input asp-for="Name" style="text-align:center" type="text" placeholder="Ім'я" />

            </div>
            <div class="align-center" style="margin-top:20px;margin-bottom:75px">
                <label asp-for="TicketPrice">Ціна</label>
                <input asp-for="TicketPrice" style="text-align:center" type="text" placeholder="Фамілія" />

            </div>
            <div class="align-center" style="margin-top:20px;margin-bottom:75px">
                <label asp-for="TypeId">Тип</label>
                <select asp-for="TypeId" asp-items="ViewBag.CityTypeList">
                </select>

            </div>
            <div class="row">
                <div class="col-2 col-12-medium" style="margin:80px;">
                    <input type="submit" value="Зберегти" class="primary" />
                </div>
                <div class="col-2 col-12-medium" style="margin:80px;">
                    <a class="button" asp-action="Index" asp-controller="Show">Назад до списку</a>
                </div>
            </div>
        </form>
    </div>
</div>


